<div class="py-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav class="nav justify-content-center justify-content-md-start">
          <a class="nav-link text-dark pl-md-0" href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a class="nav-link text-dark" href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="nav-link text-dark" href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="nav-link text-dark" href="#">
            <i class="fab fa-youtube"></i>
          </a>
          <a class="nav-link text-dark" href="#">
            <i class="fab fa-dribbble"></i>
          </a>
        </nav>
      </div>
      <div class="col-md-6">
        <nav class="nav justify-content-center justify-content-md-end">
          <a class="nav-link text-dark" href="#">Help</a>
          <span class="px-0 py-2">/</span>
          <a class="nav-link text-dark" href="#">Privacy</a>
          <span class="px-0 py-2">/</span>
          <a class="nav-link text-dark pr-md-0" href="#">Terms</a>
        </nav>
      </div>
    </div>
  </div>
</div>