---
layout: default
---

<style type="text/css">
  .card {
    border-radius: 0;
    box-shadow: .5rem .5rem lightblue;
    transition: .3s;
  }
  .card:hover {
    background-color: #f9f9f9;
    box-shadow: .5rem .5rem .5rem lightblue;
    cursor: pointer;
  }
</style>

{%- if site.posts.size > 0 -%}
<div class="container py-5">
  <div class="row">
    {%- for post in site.posts limit:1 -%}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle text-muted mb-3">
            {{ post.date | date: "%b %d, %Y" }}
          </h6>
          <h3 class="card-title">
            <a class="text-dark" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
{%- endif -%}

{%- if site.posts.size > 0 -%}
<div class="container py-5">
  <div class="row mb-5">
    <div class="col text-center">
      <h3>Latest Stories</h3>
    </div>
  </div>
  <div class="row">
    {%- for post in site.posts offset:1 limit: 12 -%}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle text-muted mb-3">
            {{ post.date | date: "%b %d, %Y" }}
          </h6>
          <h3 class="card-title">
            <a class="text-dark" href="{{ post.url | prepend: relative_url }}">
              {{ post.title }}
            </a>
          </h3>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
{%- endif -%}
